<mat-form-field>
  <mat-label>
    {{ label }}
  </mat-label>

  <mat-select
    [formControl]="control"
    (opened)="selectSearch.focus()"
  >
    <mat-select-trigger *ngIf="selectedUser$ | async as selectedUser">
      <sl-avatar
        [size]="34"
        [name]="selectedUser.name"
      ></sl-avatar>

      {{ selectedUser.name }}
    </mat-select-trigger>

    <sl-select-search
      #selectSearch
      [placeholder]="'users.select.search' | translate"
      (searchChange)="search$.next($event.trim().toLowerCase())"
    ></sl-select-search>

    <mat-option
      *ngIf="selectedUser$ | async as selectedUser"
      [value]="selectedUser.id"
      class="sl-select-option-hidden"
    ></mat-option>

    <mat-option
      *ngFor="let user of users$ | async; trackBy: trackByUser"
      [value]="user.id"
    >
      <div class="sl-select-option">
        <sl-avatar
          [name]="user.name"
          [size]="32"
        ></sl-avatar>

        <div [innerHTML]="user.name | slSearchHighlight:(search$ | async)"></div>
      </div>
    </mat-option>
  </mat-select>

  <mat-error *ngIf="control.invalid">
    {{ control | slControlError | async }}
  </mat-error>
</mat-form-field>
