:host {
  display: flex;
  gap: 0.5rem;
}

.sl-img-src-control {
  &-preview {
    margin-top: -1rem;
  }

  &-icon {
    font-size: 2.5rem;
    margin-top: -1rem;
    width: 3rem;
    height: 2.5rem;
  }
}
