:host {
  display: flex;
  align-items: center;
  gap: 0.25rem;
  color: white;
  text-decoration: none;

  button {
    color: inherit;
  }

  &.mod-dark {
    color: black;
  }

  &.mod-disabled {
    cursor: default;
  }

  &.mod-loading {
    cursor: default;
    opacity: 0.4;
  }
}
