@use 'src/styles/utils';
@use 'src/var';

:host {
  @include utils.absolute-overlay();

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  color: var.$colorGrey;
  pointer-events: none;

  & > div {
    pointer-events: all;
  }
}

h2, p {
  margin-bottom: 0;
}
