<sl-loading
  [isLoading]="isLoading$ | async"
  mat-dialog-content
>
  <h1>
    {{ 'categories.create.title' | translate }}
  </h1>

  <sl-category-form
    #form
    [formId]="formId"
    (submitted)="createCategory($event)"
  ></sl-category-form>
</sl-loading>

<sl-form-actions
  mat-dialog-actions
  [formId]="formId"
  [isLoading]="isLoading$ | async"
  [valid]="form.categoryForm.valid"
  [dirty]="form.categoryForm.dirty"
  [submitLabel]="'common.create' | translate"
  (cancelForm)="close()"
></sl-form-actions>
