$colorGreyLight: #e3e3e3;
$colorGrey: #5e5e5e;
$colorGreyDark: #343434;
$colorGreyFade: rgba(128, 128, 128, 0.05);
$colorBaseBackground: #f1f1f1;
$colorPrimary: #3f51b5;

$animationFast: 150ms;
$animationFunction: cubic-bezier(0.4, 0, 0.2, 1);
